.pixabay-gallery {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.search-container button {
  padding: 10px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.image:hover{
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
}
.text_img{
  margin: 2rem 0 2rem 0;
}